{{ form_start(testimonials_form,{attr:{'novalidate' :'novalidate'}}) }}
   {{ form_widget(testimonials_form) }}
  <button class="btn btn-primary">Enregistrer</button>
{{ form_end(testimonials_form) }}