<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifiants de connexion</title>
</head>
<body>
    <h2> Un compte vous a été crée</h2>
    <p>vous pouvez vous connecter sur le site du garage Parrot</p>
    <p>Votre email : {{ email }}</p>
    <p>Votre mot de passe: {{ password }}</p>
    <strong> Votre mot de passe est confidentiel ne le divulguez à personne</strong>
</body>
</html>