{% extends 'base.html.twig' %}

{% block title %}Garage V.parrot - Témoignages sur le garage{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="subtitle mb-4">
            <h3>Votre témoignage nous intéresse</h3>
        </div>

        {% include "partials/_form.html.twig" %}
       
    </div>
{% endblock %}