{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}
 

{% block body %}

<div class="container mt-4">
    <h1 class="text-center mb-4">{{"Nos voitures d'occasion"}}</h1>

    <h3 class="mb-3">{{"Filtrer les annonces"}}</h3>
    <div class="filter-container">
        <!-- Form for AJAX filtering -->
        <form id="filterForm">
            <div class="mb-3">
                <label for="year">Année</label>
                <input type="range" name="year" id="year">
            </div>

            <div class="mb-3">
                <label for="price">Prix</label>
                <input type="range" name="price" id="price">
            </div>

            <div class="mb-3">
                <label for="mileage">Kilomètres</label>
                <input type="range" name="mileage" id="mileage">
            </div>

            <button type="button" onclick="filterCars()" class="btn btn-secondary">Appliquez vos choix</button>
        </form>
    </div>

    <!-- Display filtered cars here -->
    <div id="filterCars" class="mb-4"></div>

    <div class="row">
        {% for car in cars %}
            {% include "partials/_block_car.html.twig" %}
        {% endfor %}
    </div>
</div>

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/car_filter.js') }}"></script>
{% endblock %}

{% endblock %}
